extends layout

block content
  .grid-points
  .logo-mobile.only-mobile.animated.fadeIn
    img(src="img/rulotico.jpg", alt="")
  .text-center.animated.fadeIn.no-mobile
    img.rulotico(src="img/rulotico.gif", alt="")
  .container.animated.fadeInUp
    .section1
      .col-md-6.offset-md-3
        h6.glitch(data-text='$:whoami') $:whoami
        br
        p.txt-effect.text-justify My name is Rulótico González a.k.a 
          a(href="www.twitter.com/rulotico" target="_blank") @rulotico
          |, interactive designer, creating digital ideas since 2004 , I like the internet.
        
        p.txt-effect.text-justify I started creating animations, experiments and web pages in 
          strong 2004 
          | thats when I get in love with develop and design, then I specialized in interactive design, finishing college in 2012. I have been in advertising agencies and also as an student in 
          strong Digital Invaders in 2012 
          |, this season I learn about digital creativity and I realize about the  need the industry has for multidisciplinary teams.
        p.txt-effect.text-justify My professional career creating products starts in 
          strong Startupbus 2013 
          | where we competed against American teams, finishing that stage I dedicated myself to create an studio named 
          a(href="www.sable.mx" target="_blank") Sable Studio 
          | where we began to develop technology for new products and improving existing ones. Currently I only manage the studio because we have generated special processes to optimize the construction of new projects.
        p.txt-effect.text-justify Nowadays I spend my time generating knowledge about the design and development of design systems and form 
          strong unicorns (Coders that design and Designers that code). 
          | Because I consider myself as one and by seeing the potential I try to reduce the gap between Designers and developers in techie teams.
        h6.glitch(data-text='$:skills') $:skills
        br
        | Programador
        ul.txt-effect
          li Front end
          li Back end
          li System architecture
        | Diseñador
        ul.txt-effect
          li Product Designer
          li Illustrator
          li UI Designer
          li 3D artist
          li Motion Graphics
        | Growt hacker
        ul.txt-effect
          li Data analyst
          li Convertion Flows
        | Lidership
        br
        |Digital Creativity
        br
        br
        h6.glitch(data-text='$:actual development') $:actual development
        br
        ul.txt-effect
          li Design systems
          li Tracking systems for marketing
          li Product Design
          li New process for software designers.
        h6.glitch(data-text='$:skills') $:gamer
        ul.txt-effect
          li Overwatch 
          li Monsterhunter
          li Mario kart
        hr
        br
        h6.txt-effect.glitch(data-text='$:Say hi: rulotico@gmail.com') $:Say hi: 
          a(href="mailto:rulotico@gmail.com") rulotico@gmail.com
        
