extends layout

block content
  .grid-points
  .logo-mobile.only-mobile.animated.fadeIn
    img(src="img/rulotico.jpg", alt="")
  video.fadeIn.animated.no-mobile#background(autoplay='', loop='', muted='', poster='img/rulotico.jpg')
    source(src='img/rulotico.mp4', type='video/mp4')
    source(src='img/rulotico.webm', type='video/webm')
    source(src='img/rulotico.ogv', type='video/ogg')
  .container
    .section1
      .col-md-6.offset-md-3
        h6.glitch(data-text='LOOKING FOR') LOOKING FOR
        br
        p.txt-effect.text-justify Raúl González García (Rulótico González) Diseñador Interactivo especializado en medios Digitales, Comunicación, Creatividad y Desarrollo, Inicia a la edad de 15 años programando webs  y animaciones en flash.Ha trabajado en varias agencias de Comunicación Desarrollo e Interactividad la mas representativa DDB en el area digital. Es parte de Digitial Invaders 8ª Generación en Grupo W, Ademas de ser parte también de la 5ª Generación de hackers de Dev.f y actualmente trabaja de la mano en proyectos interactivos con ellos.Raúl en su tiempo libre trabaja diferentes proyectos fuera de su trabajo, sobre desarrollo, experimentación e interactividad. También fue participante de diferentes concurso a nivel internacional como: Startupbus (Austin,USA), MIT Medical Hack (Madrid, España), Google Bus Developer(CDMX).El incluye el diseño con la programación y viceversa, tiene un background de ilustrador, hacker animador, asi como  de Creatividad y Comunicación.Actualmente se dedica a trabajar en . SABLE . Digital Studio, fundador del mismo, con el cual ha trabajo con clientes como : B:OOST_, TREGUERRAS LOGISTICS, TRAVELOCITY, BANCO INTERAMERICANO DE DESARROLLO, NIKE, BONAFONT, EPIC QUEEN, ALIADA, FRANZ MAYER, MUSEARTE, AT2000, INADEM. 
