extends layout

block content
  .grid-points
  .logo-mobile.only-mobile.animated.fadeIn
    img(src="img/rulotico.jpg", alt="")
  video.fadeIn.animated.no-mobile#background(autoplay='', loop='', muted='', poster='img/rulotico.jpg')
    source(src='img/rulotico.mp4', type='video/mp4')
    source(src='img/rulotico.webm', type='video/webm')
    source(src='img/rulotico.ogv', type='video/ogg')
  .container
    .section1
      .col-md-6.offset-md-3
        h6.glitch(data-text='$:whoami') $:whoami
        br
        p.txt-effect.text-justify Rulótico González es un Diseñador Interactivo  residente en Ciudad de México, fundador de 
          a(href="#") 
            strong Sable Digital Studio 
          | lugar donde se desarrollan ideas en base a nuevas tecnologías.
          br
          br
          |Su carrera inicia a los 15 años programando y animando sitios en Flash para el 2013 trabaja en equipos digitales en  agencias de publicidad , sin embargo su curiosidad lo impulsa a programar a la par del diseño, como resultado cuenta con ambos skills para transmitir sus ideas con medios interactivos ya sea para proyectos personales o soluciones para clientes. 
          |Esta involucrado desde 2014 con comunidades de tecnología y diseño, actualmente es lider y organizador de #DribbbleCDMX  en @ceentral.
          |Ha impartido clases para Desafio Latam y diplomados para la UNAM de desarrollo de software. 
          br
          br
          |Actualmente busca mas unicornios (Programador / Diseñador) 
        br
        br
        
        h6.glitch(data-text='$:skills') $:skills
        br
        | Programador
        ul.txt-effect
          li Front End
          li Back end
          li System arquitecture
        | Diseñador
        ul.txt-effect
          li Product Designer
          li Ilustrator
          li UI Designer
          li 3D artist
          li Motion Graphics
        | Growt hacker
        ul.txt-effect
          li Data analyst
          li Convertion Flows
        | Lidership
        br
        br
        h6.glitch(data-text='$:actual development') $:actual development
