doctype html
html
  head
    title Rulótico González | Interactive Designer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/glitch.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    .flags.animated.fadeInDown
      a.white(href="http://facebook.com/rulotico" target="_blank") 
        span.option.socials
          i.fa.fa-facebook
      a.white(href="http://twitter.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-twitter
      a.white(href="http://instagram.com/rulotico_" target="_blank")
        span.option.socials
          i.fa.fa-instagram
      | &nbsp;·  &nbsp;&nbsp;
      span.option
        span ESP 
      |/ 
      span.option
        span ENG
    block content
    script(src='https://use.fontawesome.com/7403b41c6a.js')
    script(src="js/main.js")
      
