doctype html
html
  head
    title Rulótico González | Interactive Designer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/glitch.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    
    meta(name='description', content='Rulótico González es un Diseñador Interactivo residente fundador de Sable Digital Studio')
    meta(property='og:title', content='Rulótico González | Interactive Designer | Coder-Designer')
    meta(property='og:description', content='Rulótico González es un Diseñador Interactivo residente en Ciudad de México, fundador de Sable Digital Studio lugar donde se desarrollan ideas en base a nuevas tecnologías.')
    meta(property='og:site_name', content='Rulótico González | Interactive Designer | Coder-Designer')
    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='214240232521920')    
    meta(property='og:url', content='http://www.rulotico.com')
    meta(property='og:image', content='http://www.rulotico.com/img/rulotico.jpg')
    
    
    
    
  body
    .flags.animated.fadeInDown
      a.white(href="http://facebook.com/rulotico" target="_blank") 
        span.option.socials
          i.fa.fa-facebook
      a.white(href="http://twitter.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-twitter
      a.white(href="http://dribbble.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-dribbble
      a.white(href="http://instagram.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-instagram
      | &nbsp;·  &nbsp;&nbsp;
      span.option
        span ESP 
      |/ 
      span.option
        span ENG
    block content
    script(src='https://use.fontawesome.com/7403b41c6a.js')
    script(src="js/main.js")
      
