doctype html
html
  head
    title Rul칩tico Gonz치lez | Interactive Designer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/glitch.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
      
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap', rel='stylesheet')

    
    meta(name='description', content='Rul칩tico Gonz치lez es un Dise침ador Interactivo residente fundador de Sable Digital Studio')
    meta(property='og:title', content='Rul칩tico Gonz치lez | Interactive Designer | Coder-Designer')
    meta(property='og:description', content='Rul칩tico Gonz치lez es un Dise침ador Interactivo residente en Ciudad de M칠xico, fundador de Sable Digital Studio lugar donde se desarrollan ideas en base a nuevas tecnolog칤as.')
    meta(property='og:site_name', content='Rul칩tico Gonz치lez | Interactive Designer | Coder-Designer')
    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='214240232521920')    
    meta(property='og:url', content='http://www.rulotico.com')
    meta(property='og:image', content='http://www.rulotico.com/img/rulotico_fb.jpg')
    
    
    
    
  body
    
    .flags.animated.fadeInDown
      a.white(href="http://facebook.com/rulotico" target="_blank") 
        span.option.socials
          i.fa.fa-facebook
      a.white(href="http://twitter.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-twitter
      a.white(href="http://dribbble.com/rulotico" target="_blank")
        span.option.socials
          i.fa.fa-dribbble
      a.white(href="http://instagram.com/rulotico_" target="_blank")
        span.option.socials
          i.fa.fa-instagram
      //- | &nbsp;췅  &nbsp;&nbsp;
      //- span.option#esp
      //-   a(href="/es") 游쓇릖 
      //- |/ 
      //- span.option#eng
      //-   a(href="/en") 游쥟릖
    block content
    script(src='https://use.fontawesome.com/7403b41c6a.js')
    script(src="js/main.js")
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Person",
      "colleague": [
      "https://www.sable.mx/danna"
      ],
      "email": "mailto:producer@sable.mx",
      "image": "/images/team/rulo.png",
      "jobTitle": "Producer",
      "name": "Rul칩tico Gonz치lez",
      "birthPlace": "Ciudad de M칠xico, M칠xico",
      "birthDate": "1989.02.20",
      "gender": "male",
      "memberOf": "Sable Digital Studio",
      "nationality": "Mexican",
      "telephone": "(55) 5546-2293",
      "url": "http://www.rulotico.com/",
      "sameAs" : [ "https://www.facebook.com/rulotico",
      "https://mx.linkedin.com/in/rulotico",
      "https://twitter.com/rulotico",
      "http://instagram.com/rulotico"]
      }

      
