
body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: black;
   letter-spacing: 1px;
   font-size: 13px;
  max-width: 960px;
  margin: auto;

}



/* colors */
.purple{color:#663bdd}
.red{color:#f54747}
.blue{color:#06d9e9}
.yellow{color:#ebe12a}
.gray{color: #a2a2a2}
.green{color: green;}
.black{color:#2b2d2f;}
body{
    background: linear-gradient(transparent,#000,#000,#000,#000,#000,#000  ), url(../img/back.jpg) no-repeat;
    background-size: 100%;
    padding-top: 259px;
}

a {
  color: #01ffd6;
}
h1,h2,h3{
  font-weight: 700;
}
h6{
  font-weight: 600;
}
hr{
  border-color: rgb(109 103 103 / 27%);
}
strong{
  color: white;
}


.grid-points{
      background-image: url(../img/points.png);
      background-repeat: repeat;
      height: 100vh;
      width: 100%;
      position: fixed;
      background-size: 8px;
      top: 0px;
      left: 0px;
      opacity: .5;
      pointer-events: none;
}

.rulotico{
  width: 30%;
  max-width: 500px;
    margin-left: -23px;
}


#background {
   pointer-events: none;
   display:none;
   position: relative;
    top: 24vh;
   left: 50%;
   /*min-width: 100%;
   min-height: 100%;*/
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
}

.logo-mobile{
  display: none;
}
.logo-mobile img{
  width: 100%;
}

/*/LAYOUT*/
.badge_google img{
  height: 100px;
  position: fixed;
  top: 16px;
  left: 20px;
}

.flags{
  font-size: 10px;
  position: fixed;
  right:30px;
  top: 30px;
  font-weight: 900;
     z-index: 2000000;


}
.option a{
  color: white;
}
.flags .option:hover,.option a:hover{
  color: #f50d58;
    transition: all 1s;
    cursor: pointer;
    text-decoration: none;

}

.socials{
  margin-right: 10px;
}


.txt-effect{
    color: #b5b5b5;
    text-shadow: 3px 3px rgba(232, 0, 0, 0.36), -1px 1px rgba(59, 25, 249, 0.75);
}

/*===========MIXINS*/
.card_wrap{
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}

.card_wrap .card_success:first-child{
  flex-grow: 99999;
  width: 100%;
}

.card_success{
  background: white;
  padding: 16px;
  margin: 4px;
  flex-grow: 1;
  width: 25%;
  border-radius: 3px;

  bottom: 16px;
}

a.card_success:hover,a.card_success:focus{
  text-decoration: none;
  color: initial;

}

a.card_success:hover .image_feat{
    background-size: 138%;

    transition: all 1500ms linear;
}

.block{
  cursor: no-drop;
  opacity: .9;
}

.flac{
  font-weight: bold;
}

.image_feat{
  height: 100px;
  background: yellow;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 16px;
  background-position: center;
  background-size: 100%;
}




/*===========SECTION*/
.section1{
  padding-top: 0vh;

}


/* modifiers */


.white{
  color: white
}

.no-margin{
  margin: 0;
}

/* MEDIAS */


@media (min-width: 2em) {
   #background {
     display: block;
     width: 74vh;
   }

}



@media (max-width:992px) {
  .no-mobile{
    display: none;
  }
  .logo-mobile{
        display: block;
            margin-top: 16px;
  }

  video{
    display: none !important;
  }

  body{
    background-position-y: 60px;
    background-size: 100vh;
    background-position: top;
    padding: 28px;
    padding-top: 30vh;
    background-position: inherit;
    padding-top: 21vh;


  }
  .container{
    padding: 0;
  }
  .flags{
    background-color: rgb(0 0 0 / 51%);;
    padding: 2em;
    top: 0px;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .badge_google img {
    height: 71px;
    z-index: 999999999;
    position: absolute;
  }

  .card_wrap{
    flex-direction: column;
  }
  .card_wrap .card_success{
    width: 100%;
  }

  .image_feat{
        height: 35vh;
  }

}
