@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800');

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: black;
   letter-spacing: 1px;
   font-size: 13px;

}

body{


background: linear-gradient(transparent,#000,#000,#000 ), url(../img/backy.jpg) no-repeat;

    background-size: 100%;
    padding-top: 327px;
}

a {
  color: #00B7FF;
}

h6{
  font-weight: 600;
}


.grid-points{
      background-image: url(../img/points.png);
      background-repeat: repeat;
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: .5;
      pointer-events: none;
}

#background {
   pointer-events: none;
   display:none;
   position: relative;
    top: 24vh;
   left: 50%;
   /*min-width: 100%;
   min-height: 100%;*/
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
}

.logo-mobile{
  display: none;
}
.logo-mobile img{
  width: 100%;
}

/*/LAYOUT*/

.flags{
  font-size: 10px;
  position: fixed;
  right:30px;
  top: 30px;
  font-weight: 900;
     z-index: 2000000;

}
.flags .option:hover{
  color: #f50d58;
    transition: all 1s;
    cursor: pointer;

}

.socials{
  margin-right: 10px;
}


.txt-effect{
    color: #b5b5b5;
    text-shadow: 3px 3px rgba(232, 0, 0, 0.36), -1px 1px rgba(59, 25, 249, 0.75);
}




/*===========SECTION*/
.section1{
  padding-top: 0vh;
}


/* modifiers */


.white{
  color: white
}



/* MEDIAS */


@media (min-width: 2em) {
   #background {
     display: block;
     width: 495px;
   }

}



@media (max-width:992px) {
  .no-mobile{
    display: none;
  }
  .logo-mobile{
        display: block;
  }

  video{
    display: none !important;
  }

  body{
    padding-top: 0px;
    background: black
  }

}
